<div>
<!-- Nav Bar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	        <img alt="Brand" src="./Assets/light-bulb-icon.png">
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="#/viewProfile" ng-click='cardCrtl.getUserCards(userCrtl.user[0].username)'>User Profile</a></li>
	    	<li><a href="#/create">Create new card</a></li>
	    	<li><a href="#/dashboard" ng-click='cardCrtl.getTopics()'>Flash Stack</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#/">Log Out</a></li>
	    </ul>
	  </div>
	</nav>
<!-- Page Content -->
	<div id='profileDiv'>
		<div id='userProfile'>
			<h3><span ng-bind="userCrtl.userProfile[0].username"></span></h3>
			<img src="{{userCrtl.userProfile[0].image}}" width="75px" height="75px">
		</div>
			<ul ng-repeat='error in userCrtl.errors'>
				<ul ng-repeat='type in error'>
					<ul ng-repeat='message in type'></ul>
						<li ng-bind='type.message'></li>
				</ul>
			</ul>
	<div id='cardTable'>
		<input class='pull-right' type='text' placeholder='search' ng-model='search.topic'>
		<table class="table table-bordered">
			<th>Topic</th>
			<th>Question</th>
			<tr ng-repeat='card in cardCrtl.userCards | filter:search'>
				<td><span ng-bind=card.topic></span></td>
				<td><a href="#/viewCard" ng-click='cardCrtl.getCard(card.question)'><span ng-bind=card.question></span></td>
			</tr>
		</table>
	</div>
</div>